<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">    
    <link rel="stylesheet" href="/css/api-styles.css">    
  </head>
  <body>

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome to the v4 API</h1>
        <p>here you will find the v5 API interface control document (ICD)</p>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
      </div>
    </div>

    <div class="container">   
      
      <div class="row">
        <div class="col-12"><h2>Auth</h2></div>
        <div class="col-12"></div>        
      </div>

       <div class="row">       
        <div class="col-12"><h2>Shop</h2></div>
      </div>

      <div class="row">
        <div class="col-1"></div>
        <div class="col-11"><h3>Banners</h3></div>
      </div>

      <div class="row">
        <div class="col-2"></div>
        <div class="col-10"><a href="http://localhost:4200/v4/banner_l1">banner_l1</a></div>
      </div>

      

      <div class="row">
        <div class="col-1"></div>      
        <div class="col-11"><h3>Brands</h3></div>
      </div>
      
      <div class="row">
        <div class="col-1"></div>        
        <div class="col-11"><h3>Products</h3></div>
      </div>

      <div class="row">
        <div class="col-1"></div>        
        <div class="col-11"><h3>Looks</h3></div>
      </div>

      <div class="row">
        <div class="col-1"></div>        
        <div class="col-11"><h3>Trending Now</h3></div>
      </div>
      
      <div class="row">
        <div class="col-1"></div>        
        <div class="col-11"><h3>Category</h3></div>
      </div>


     <div class="row">
        <div class="col-2"></div>
        <div class="col-10">Return top level categoies.</div>
      </div>

     <div class="row">
        <div class="col-2"></div>
        <div class="col-10"><a href="http://localhost:4200/v4/category_top">category_top</a></div>
      </div>

   
     <div class="row">
        <div class="col-2"></div>
        <div class="col-10">Return a top level category and its sub-categories.</div>
      </div>

     <div class="row">
        <div class="col-2"></div>
        <div class="col-10">example Category Activeware:<a href="http://localhost:4200/v4/category_l2/13">category_l2/13</a></div>
      </div>
      
     <div class="row">
        <div class="col-2"></div>
        <div class="col-10">example Category Denim:<a href="http://localhost:4200/v4/category_l2/14">category_l2/14</a></div>
      </div>
      

      <div class="row">
        <div class="col-1"></div>        
        <div class="col-11"><h3>Search</h3></div>
      </div>

      <div class="row">
        <div class="col-1"></div>        
        <div class="col-11"><h3>ShopL1</h3></div>
      </div>

    </div> <!-- /container -->

    <script src="/js/jquery.min.js"></script>
    <!--<script src="/js/popper.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>    
  </body>
</html>